@import "tailwindcss";

@theme {
  --color-primary: #5144d4;
  --color-primary-hover: #4338ca;
  --color-secondary: #0ea5e9;
  --color-surface: #ffffff;
  --color-bg-color: #f8fafc;
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;
  --color-border: #e2e8f0;
  
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 24px;
}

:root {
  background-color: var(--color-bg-color);
  color: var(--color-text-main);
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
